body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #053efa;
}

.navbar h1 {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 24px;
}